@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}


@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #47b2e4;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #6bc1e9;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
#header {
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    background: #FBF6F4;
    border-bottom: 1px solid rgba(25, 25, 25, 0.05);
}

#header.header-scrolled,
#header.header-inner-pages {
    background: #FBF6F4;
}

#header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: auto !important;
}

#header .logo a {
    color: #fff;
}

#header .logo img {
    max-height: 40px;
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/**
  * Desktop Navigation 
  */
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a {
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.navbar a:hover {
    font-weight: 500;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #FF571F;
    font-weight: 500;
}

.navbar .getstarted,
.navbar .getstarted:focus {
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    border: 2px solid #47b2e4;
    font-weight: 600;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
    color: #fff;
    background: #31a9e1;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    font-weight: 500;
    color: #0c3c53;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #47b2e4;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

/**
  * Mobile Navigation 
  */
.mobile-nav-toggle {
    color: #212121;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgb(255 87 31 / 90%);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #37517e;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #47b2e4;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
    color: #37517e;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: #47b2e4;
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}

/* KAI CSS */
/* Banner */
section {
    padding: unset;
    overflow: hidden;
}

#banner {
    height: 764px;
    background: #FBF6F4;
    position: relative;
}

.bg-banner {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 634px;
}

#banner h1 {
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-size: 68px;
    line-height: 140%;
    color: #000000;
    z-index: 9;
}

#banner p {
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 28px;
    line-height: 150%;
    color: #000000;
}



#investment {
    height: 660px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    text-align: center;

}

#investment ul {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
}

#investment h1 {
    font-weight: 400;
    font-size: 64px;
    line-height: 140%;
    color: #291B17;
}

#investment ul {
    list-style-position: inside;
}


#real-estate,
#ip-investment,
#personal-investment {
    background: #FBF6F4;
    padding-top: 200px;
    padding-bottom: 50px;
}

#personal-investment {
    padding-bottom: 150px;
}

.real-right,
.ip-left,
.personal-right {
    font-family: 'Noto Sans KR';
    font-style: normal;

}

.real-right h4,
.ip-left h4,
.personal-right {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #FF571F;
}

.real-right h1,
.ip-left h1,
.personal-right h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 140%;
    color: #000000;
}

.real-right p,
.ip-left p,
.personal-right p {
    font-weight: 350;
    font-size: 23px;
    line-height: 150%;
    color: #000000;
}

.ip-left {
    text-align: right;
}

.ip-left p {
    float: right;
}


#download {
    background: #FF571F;
    padding: 50px 0px;
}

#download h1 {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.download-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.logo-white-download {
    width: 180px;
}

.logo-google-play {
    margin-top: 38px;
    width: 276px;
}

#partner {
    padding: 100px 0px;
}

#partner h4 {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #000000;
    padding-top: 10px;
}

.partner-right img {
    margin-right: 10px;
}


footer {
    padding-bottom: 100px;
}

footer p {
    margin-bottom: unset;
}

footer a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-decoration-line: underline;
    color: #000000;
}

footer a.nav-link {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    text-decoration: none;
}

.f-address {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
    padding-top: 24px;
}

.f-address small {
    font-weight: 400;
}

.f-contact {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
    padding-top: 24px;
}

.f-contact small {
    font-weight: 400;
}

.f-bottom {
    margin-top: 67px;
}


.f-top ul {
    text-align: right;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.f-top ul li {
    list-style: none;
}

.f-b-first {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */


    /* Black */

    color: #000000;
}

.f-b-second {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */


    /* Black */

    color: #000000;
}

.f-bottom a {
    margin-right: 24px;
}

.f-socials {
    padding-top: 24px;
}

.f-socials img {
    margin-right: 10px;
}



@media (max-width: 1024px) {

    .why-us .content,
    .why-us .accordion-list {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 992px) {}

@media (max-width: 575px) {}


.c-orange {
    color: #FF571F;
}

/* Custom, iPhone Retina */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #banner {
        padding-top: 120px;
        height: 650px;
    }

    #banner h1 {
        font-weight: 700;
        font-size: 48px;
        line-height: 140%;
        text-align: center;
    }

    #banner p {
        font-weight: 300;
        font-size: 20px;
        line-height: 150%;
        text-align: center;
    }

    .bg-banner {
        height: unset;
    }

    #investment {
        height: 447px;
    }

    #investment h1 {
        font-weight: 400;
        font-size: 36px;
        line-height: 140%;
        text-align: center;
        color: #291B17;
    }

    #investment ul {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
    }

    #real-estate {
        background: #FECCAD;
        padding-top: 40px;
        padding-bottom: 0px;
    }

    #ip-investment {
        padding-top: 160px;
        padding-bottom: 0px;
    }

    #personal-investment {
        padding-top: 170px;
    }

    .real-right,
    .ip-left,
    .personal-right {
        background: #FBF6F4;
        padding: 40px 15px;
    }


    .real-right h4,
    .ip-left h4,
    .personal-right {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
    }

    .real-right h1,
    .ip-left h1,
    .personal-right h1 {
        font-weight: 700;
        font-size: 32px;
        line-height: 140%;
    }

    .real-right p,
    .ip-left p,
    .personal-right p {
        font-weight: 350;
        font-size: 16px;
        line-height: 150%;
    }

    .ip-left {
        text-align: left;
    }

    .ip-left p {
        float: left;
    }

    .div-bg_ip_investment,
    .div-bg_personal_investment {
        background: #FECCAD;
        position: relative;
        height: 390px;
    }

    .div-bg_ip_investment img {
        position: absolute;
        top: -123px;
    }

    .div-bg_personal_investment img {
        position: absolute;
        top: -80px;
    }

    #download {
        padding-top: 100px;
        padding-bottom: 10px;
    }

    .download-left {
        position: unset;
        transform: none;
    }

    #download h1 {
        font-weight: 900;
        font-size: 36px;
        line-height: 120%;
    }

    .logo-google-play {
        width: 128px;
        margin-top: 15px;
        margin-bottom: 100px;
    }

    #partner {
        text-align: center;
    }

    .partner-right {
        display: inline-grid;
    }

    .partner-right img {
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .f-top ul {
        text-align: left;
        padding: unset;
    }

    footer a.nav-link {
        padding-left: 0px;
    }

    .f-bottom {
        text-align: center;
    }

    .f-b-second {
        margin-bottom: 10px;
    }

    .f-bottom a:last-child {
        margin-right: 0px;
    }

    .navbar-mobile a {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #000000;
    }

    .navbar-mobile a:hover,
    .navbar-mobile .active,
    .navbar-mobile li:hover>a {
        color: #FF571F;
        font-weight: 500;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #banner {
        padding-top: 120px;
        height: 888px;
    }

    #banner h1 {
        font-weight: 700;
        font-size: 68px;
        line-height: 140%;
        text-align: center;
    }

    #banner p {
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;
        text-align: center;
    }

    .bg-banner {
        width: 80%;
        height: auto;
        right: 40px;
    }

    #real-estate {
        text-align: center;
        padding-top: 76px;
    }

    .ip-left {
        text-align: center;
    }

    .ip-left p {
        text-align: center;
        float: unset;
    }

    .personal-right {
        text-align: center;
    }

    .real-right {
        padding-top: 50px;
    }

    #ip-investment,
    #personal-investment {
        padding-top: 20px;
    }

    .navbar-mobile a {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #000000;
    }

    .navbar-mobile a:hover,
    .navbar-mobile .active,
    .navbar-mobile li:hover>a {
        color: #FF571F;
        font-weight: 500;
    }
}